
#header{
	background-image: url(../img/QQ截图20180619224350.png);
	background-size: 100% 100%; 
    background-repeat: no-repeat;
}

.cs{
	background-image: url(../img/ttuu.png);
}

.window-mask{
	background-image: url(../img/QQ截图20180619224350.png);
	background-repeat: no-repeat;
	background-size: 100% 100%; 
}

