#header{
	background-image: url(../img/111.jpg);
	background-size: 100% 100%; 
    background-repeat: no-repeat;
}

.window-mask{
	background-image: url(../img/111.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%; 
}

.cs{
	background-image: url(../img/111.jpg);
}

.tabs { 
	background:#A592FF;
} 
.panel-header { 
	background:#A592FF;
}

.panel{
	background:#A592FF;
}
#btnLogin{
	background:#A592FF;
}

#btnClear{
	background:#A592FF;
}