<!DOCTYPE html>
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="zh" class="windows desktop landscape" lang="zh">

	<head>
		<title>帖子详情页</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
		<link rel="stylesheet" href="css/bulma.min.css">
		<link rel="stylesheet" href="css/trumbowyg2.css">
		<link rel="stylesheet" type="text/css" href="css/element-ui.css" />
		<script src="js/Vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/element-ui.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js"></script>
		<link rel="stylesheet" href="css/qian.css">
		<link rel="stylesheet" href="css/qian2.css">
		<style>
			#ann {
				margin-left: 5px;
			}
		</style>

		<body id="topic" class="auto-1544871376574-parent">
			<div id="g-body" >
				<div class="dis-head g-flow-wide" style="background: url(img/F40E80796AE30810E51ACCC1C4754918.jpg) no-repeat;background-size: 100% 100%;">
					<div class="cnt f-f0 f-cb">
						<div class="intro f-fl">
							<a href="qian_postinfo.html" class="clickArea f-ib"></a>
						</div>
						<div class="f-fr">
							<a id="j-newPostBtn" class="newPost f-fr" href="qian_fabiao.html">+ &nbsp;发表主题</a>
						</div>
					</div>
				</div>
				<div class="m-topic g-flow-wide m-topicmain f-f0">
					<div class="mainwrap f-cb ">
						<div class="g-sdr sideNav" id="j-person-info">
							<div class="u-personUI" style="margin-left: 40px;">
								<a target="_blank" href="qian_user.html">
									<div class="person f-f0">
										<img class="face" src="img/txiang.png" alt="">
										<p class="f-f0"><span class="nicknam">刀锋战士勇往直前</span></p>
										<div class="status f-f0">
											<div class="board f-cb">
												<span class="votenum f-fl">
													<span class="num">8</span><span class="cnt">主题</span>
												</span>
												<span class="votenum f-fl">
													<span class="num">2</span><span class="cnt">回复/评论</span>
												</span>
												<span class="votenum f-fl">
													<span class="num">376</span><span class="cnt">被赞</span>
												</span>
												</span>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="g-mnr">
							<div class="g-mnrc leftcon">
								<div class="forum-wrapper topic-detail">
									<div class="topicWrapper">
										<div class="forum-title">
											<ul class="m-crumb">
												<li>
													<a href="qian_barpost.html">学·问</a>
												</li>
												<li>
													<span>帖子详情</span>
												</li>
											</ul>
										</div>
										<div class="topic" id="j-topic" id="postXiangQ" v-for="tab in postBiao">
											<div class="tagList f-cb" id="j-tagList">
												<!-- <span style="background-color:#f39c12;" class="tag f-fl">置顶</span>-->
											</div>
											<h1 class="topic-title" style="display: inline-block;">{{tab.postTitle}}</h1>
											<div class="topic-info f-cb">
												<a href="/home.htm?userId=1021981657#/home/discuss" class="author info-item f-fcgreen" target="_blank">{{tab.postName}}
												</a>
												<span class="time info-item"><span class="web">发表于</span>{{tab.postCreatetime}}</span>
												<span class="j-user-detail" style="display:none;"></span>
											</div>
											<div class="topic-content j-topic-content f-richEditorText edueditor_styleclass_0">
												{{tab.postContent}}
											</div>
											<div class="topic-func f-cb">
												<div class="topic-func-share f-cb f-fl" id="j-topicshare">

													<!--左侧 帖子举报-->
													<div id="informs">
														<el-button type="text" @click="dialogFormVisible = true">举报</el-button>
														<!-- Form -->
														<el-dialog title="举报当前帖子" center="true" width=25% :close-on-click-modal="false" :close-on-press-escape="false" :visible.sync="dialogFormVisible">
															<el-form :model="form" ref="from" :rules="rules">
																<el-form-item label="举报不良信息：" prop="password">
																	<!--v-model双向绑定-->
																	<el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4}" placeholder="请输入举报内容" v-model="form.password">
																	</el-input>
																</el-form-item>
															</el-form>
															<div slot="footer" class="dialog-footer">
																<el-button type="primary" @click="submitForm('from')">确 定</el-button>
																<el-button @click="dialogFormVisible = false">取 消</el-button>
															</div>
														</el-dialog>
													</div>
													<span class="j-manage-wrapper"></span>
												</div>
												<div class="topic-func-main">
													<button class="btn-reply j-icon-up u-btn u-btn-default u-btn-gh u-btn-sm " id="auto-id-1544871376559">
															<span class="u-icon-vote"></span>
															<span class="num j-num">119</span>
													</button>
													<button class="btn-reply j-topic-reply u-btn u-btn-default u-btn-gh u-btn-sm" id="auto-id-1544871376558"><span class="u-icon-reply"></span>回复</button>
												</div>
											</div>
										</div>
									</div>
									<div class="replies-wrapper">
										<div class="replies-func f-cb">
											<div class="replies-num" id="reply-anchor">
												<span id="j-reply-num" class="num">191</span>回复
											</div>
										</div>
										<div id="j-reply-list-wrapper" id="postCom">
											<ul class="reply-list">
												<div class="reply-container f-cb">
													<div class="reply-container f-cb">
														<div class="reply-floor f-fl">
															<div class="pic">
																<a class="name" target="_blank" href="qian_user.html">
																	<img src="img/txiang.png" alt="xuanrui66">
																</a>
															</div>
															<p class="reply-floor-num">11楼</p>
														</div>
														<li id="1008052866" data-value="{&quot;top&quot;:0, &quot;id&quot;:1008052866,&quot;type&quot;: &quot;reply&quot;, &quot;replyerId&quot;:9270982, &quot;postId&quot;:1002874968 }" class="j-reply-item reply-item reply-top f-fl">
															<div class="reply-item-foot mobile">
																<div class="reply-item-info">
																	<a class="name f-thide f-fcgreen" target="_blank" href="/home.htm?userId=9270982#/home/discuss">{{tab.postcommitName}}
																	</a>
																	<span class="time"><span class="web">发表于</span>{{tab.postcommitCreatetime}}</span>
																	<span class="j-user-detail user-detail" style="display:none;"></span>
																</div>
															</div>
															<div class="reply-content">
																<div class="reply-main-func j-reply-main-func">
																</div>
																<div class="reply-editor-content j-reply-content f-richEditorText edueditor_styleclass_13">
																	{{tab.postcommitCount}}
																</div>
															</div>
															<div class="reply-item-foot web">
																<div class="reply-item-info">
																	<a class="name f-thide f-fcgreen" target="_blank" href="/home.htm?userId=9270982#/home/discuss">{{tab.postcommitName}}
																	</a>
																	<span class="time">{{tab.postcommitCreatetime}}</span>
																	<span class="j-user-detail user-detail" style="display:none;"></span>
																</div>
																<div class="reply-item-func">
																	<a data-func="up" class="u-icon-vote  j-icon-up"></a>
																	<a class="num">1</a>
																	<span class="horizontal-line">|</span>
																	<a data-func="comment" class="comment">评论(<span class="j-comment-num">4</span>)</a>
																	<!--评论举报表 -->
																	<div id="informspl">
																		<el-button type="text" @click="dialogFormVisible = true">举报</el-button>
																		<!-- Form -->
																		<el-dialog title="举报当前评论" center="true" width=25% :close-on-click-modal="false" :close-on-press-escape="false" :visible.sync="dialogFormVisible">
																			<el-form :model="form" ref="from" :rules="rules">
																				<el-form-item label="举报不良信息：" prop="password">
																					<!--v-model双向绑定-->
																					<el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4}" placeholder="请输入举报内容" v-model="form.password">
																					</el-input>
																				</el-form-item>
																			</el-form>
																			<div slot="footer" class="dialog-footer">
																				<el-button type="primary" @click="submitForm('from')">确 定</el-button>
																				<el-button @click="dialogFormVisible = false">取 消</el-button>
																			</div>
																		</el-dialog>
																	</div>
																</div>
															</div>
															<div class="sub-replies-wrapper " id="postRel">
																<div class="j-comment-list-wrapper">
																	<ul class="reply-list j-comment-list">
																		<li id="1003166170" data-value="{&quot;top&quot;:0, &quot;id&quot;:1003166170,&quot;commentorId&quot;:9270982, &quot;parentReplyId&quot;: 1008052866, &quot;type&quot;: &quot;comment&quot;, &quot;postId&quot;:1002874968,&quot;forumId&quot;:1001974001 }" class="reply-item">
																			<div class="reply-item-foot mobile">
																				<div class="reply-item-info">
																					<a class="name f-thide f-fcgreen" target="_blank" href="qian_user.html">{{tab.userName}}
																					</a>
																					<span class="time">{{tab.postreplyCreatetime}}</span>
																					<span style="display:none;" class="j-user-detail"></span>
																				</div>
																				<div class="reply-item-func">
																					<a data-func="up" class="j-icon-up u-icon-vote"></a>
																					<span class="num j-num">1</span>
																					<span class="horizontal-line">|</span>
																					<a data-func="report" class="report">举报</a>
																				</div>
																			</div>
																			<div class="reply-content">
																				<div class="reply-main-func j-reply-main-func">
																				</div>
																				<div class="reply-editor-content j-reply-content f-richEditorText edueditor_styleclass_14">
																					{{tab.postreplyCount}}
																				</div>
																			</div>
																			<div class="reply-item-foot web">
																				<div class="reply-item-info">
																					<a class="name f-thide f-fcgreen" target="_blank" href="/home.htm?userId=9270982#/home/discuss">{{tab.userName}}
																					</a>
																					<span class="time">{{tab.postreplyCreatetime}}</span>
																					<span style="display:none;" class="j-user-detail"></span>
																				</div>
																				<div class="reply-item-func">
																					<a data-func="up" class="j-icon-up u-icon-vote"></a>
																					<span class="num j-num">1</span>
																					<!--回复举报表 -->
																					<div id="informshf">
																						<el-button type="text" @click="dialogFormVisible = true">举报</el-button>
																						<!-- Form -->
																						<el-dialog title="举报当前回复" center="true" width=25% :close-on-click-modal="false" :close-on-press-escape="false" :visible.sync="dialogFormVisible">
																							<el-form :model="form" ref="from" :rules="rules">
																								<el-form-item label="举报不良信息：" prop="password">
																									<!--v-model双向绑定-->
																									<el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4}" placeholder="请输入举报内容" v-model="form.password">
																									</el-input>
																								</el-form-item>
																							</el-form>
																							<div slot="footer" class="dialog-footer">
																								<el-button type="primary" @click="submitForm('from')">确 定</el-button>
																								<el-button @click="dialogFormVisible = false">取 消</el-button>
																							</div>
																						</el-dialog>
																					</div>
																				</div>
																			</div>
																		</li>
																	</ul>
																</div>
																<div data-func="add-comment" class="editor-textarea j-editor-textarea">添加评论</div>
																<div class="j-editor-wrapper web"></div>
															</div>
														</li>
													</div>
											</ul>
											</div>
											<div id="j-pager" class="main-pager">
												
											</div>
		</body>
		<!--
        	作者：offline
        	时间：2018-12-24
        	描述：帖子举报表
        -->
		<script type="text/javascript">
			new Vue({
				el: '#informs',
				data: function() {
					return {
						dialogFormVisible: false,
						form: {
							password: ''
						},
						rules: {
							password: [{
								required: true,
								message: '请输入举报内容',
								trigger: 'blur'
							}]
						}
					}
				},
				methods: {
					submitForm(from) {
						this.$refs[from].validate((valid) => {
							const vm = this;
							if(valid) {
								console.log(this.$refs[from].model)
								//发送Ajax请求axios.get|post(url,param).then(回调).catch(异常);
								axios({
										method: "post",
										url: "http://localhost:3011/wangmengxia/WangMengXia/postreport/savePostreport",
										params: {
											postId: 1, // 获取帖子id
											userId: 1, // 获取当前用户id
											postreportContent: this.$refs[from].model.password,
										}
									})
									.then(function(res) {
										if(res.data.success) {
											vm.$alert(res.data.message, '帖子举报成功,等待管理员审核', {
												confirmButtonText: '确定',
												callback: action => {
													vm.$message({
														type: 'warning',
														message: res.data.message
													});
												}
											});
										} else {
											vm.$alert(res.data.message, '帖子举报失败', {
												confirmButtonText: '确定',
												callback: action => {
													vm.$message({
														type: 'warning',
														message: res.data.message
													});
												}
											});
										}
									})
									.catch(function(error) {
										vm.$alert(error.data.message, '帖子举报失败', {
											confirmButtonText: '确定',
											callback: action => {
												vm.$message({
													type: 'error',
													message: error.data.message
												});
											}
										});
									});
							} else {
								vm.$alert('表单验证失败', '帖子举报失败', {
									confirmButtonText: '确定',
									callback: action => {
										vm.$message({
											type: 'info',
											message: '表单验证失败'
										});
									}
								});
								return false;
							}
						});
					}
				}
			});
		</script>
		<!--
        	作者：offline
        	时间：2018-12-24
        	描述：评论举报表
        -->
		<script type="text/javascript">
			new Vue({
				el: '#informspl',
				data: function() {
					return {
						dialogFormVisible: false,
						form: {
							password: ''
						},
						rules: {
							password: [{
								required: true,
								message: '请输入举报内容',
								trigger: 'blur'
							}]
						}
					}
				},
				methods: {
					submitForm(from) {
						this.$refs[from].validate((valid) => {
							const vm = this;
							if(valid) {
								console.log(this.$refs[from].model)
								//发送Ajax请求axios.get|post(url,param).then(回调).catch(异常);
								axios({
										method: "post",
										url: "http://localhost:3011/wangmengxia/WangMengXia/comReport/saveComreport",
										params: {
											postcommitId: 1, // 获取评论id
											userId: 1, // 获取当前用户id
											commitreportContent: this.$refs[from].model.password,
										}
									})
									.then(function(res) {
										if(res.data.success) {
											vm.$alert(res.data.message, '评论举报成功,等待管理员审核', {
												confirmButtonText: '确定',
												callback: action => {
													vm.$message({
														type: 'warning',
														message: res.data.message
													});
												}
											});
										} else {
											vm.$alert(res.data.message, '评论举报失败', {
												confirmButtonText: '确定',
												callback: action => {
													vm.$message({
														type: 'warning',
														message: res.data.message
													});
												}
											});
										}
									})
									.catch(function(error) {
										vm.$alert(error.data.message, '评论举报失败', {
											confirmButtonText: '确定',
											callback: action => {
												vm.$message({
													type: 'error',
													message: error.data.message
												});
											}
										});
									});
							} else {
								vm.$alert('表单验证失败', '评论举报失败', {
									confirmButtonText: '确定',
									callback: action => {
										vm.$message({
											type: 'info',
											message: '表单验证失败'
										});
									}
								});
								return false;
							}
						});
					}
				}
			});
		</script>
<!--
        	作者：offline
        	时间：2018-12-24
        	描述：回复举报表
        -->
		<script type="text/javascript">
			new Vue({
				el: '#informshf',
				data: function() {
					return {
						dialogFormVisible: false,
						form: {
							password: ''
						},
						rules: {
							password: [{
								required: true,
								message: '请输入举报内容',
								trigger: 'blur'
							}]
						}
					}
				},
				methods: {
					submitForm(from) {
						this.$refs[from].validate((valid) => {
							const vm = this;
							if(valid) {
								console.log(this.$refs[from].model)
								//发送Ajax请求axios.get|post(url,param).then(回调).catch(异常);
								axios({
										method: "post",
										url: "http://localhost:3011/wangmengxia/WangMengXia/replyReport/savePostreply",
										params: {
											postreplyId: 1, // 获取回复id
											userId: 1, // 获取当前用户id
											postreplyreportContent: this.$refs[from].model.password,
										}
									})
									.then(function(res) {
										if(res.data.success) {
											vm.$alert(res.data.message, '回复举报成功,等待管理员审核', {
												confirmButtonText: '确定',
												callback: action => {
													vm.$message({
														type: 'warning',
														message: res.data.message
													});
												}
											});
										} else {
											vm.$alert(res.data.message, '回复举报失败', {
												confirmButtonText: '确定',
												callback: action => {
													vm.$message({
														type: 'warning',
														message: res.data.message
													});
												}
											});
										}
									})
									.catch(function(error) {
										vm.$alert(error.data.message, '回复举报失败', {
											confirmButtonText: '确定',
											callback: action => {
												vm.$message({
													type: 'error',
													message: error.data.message
												});
											}
										});
									});
							} else {
								vm.$alert('表单验证失败', '回复举报失败', {
									confirmButtonText: '确定',
									callback: action => {
										vm.$message({
											type: 'info',
											message: '表单验证失败'
										});
									}
								});
								return false;
							}
						});
					}
				}
			});
			
			
			
			
			
			new Vue({
			el: '#g-body',
			data:
				postBiao: [

				],
				/*postCom: [

				],
				postRel: [

				],*/
				/*currentPage: 1,
				pagesize: 9*/
			},
			mounted: function() {
				this.postRe();
				this.comRe();
				this.relRe();
				this.getPost();
				this.getCom();
				this.getRel();
			},
			methods: {
				getPost() {
					const vm = this;
					//发送Ajax请求axios.get|post(url,param).then(回调).catch(异常);
					axios({
							method: "get",
							url: "http://localhost:3011/wangmengxia/WangMengXia/post/findByPostId"
						})
						.then(function(res) {
							vm.postBiao = res.data;
						})
				},
				getPost() {
					const vm = this;
					//发送Ajax请求axios.get|post(url,param).then(回调).catch(异常);
					axios({
							method: "get",
							url: "http://localhost:3011/wangmengxia/WangMengXia/post/findByPostReport"
						})
						.then(function(res) {
							vm.listPost = res.data;
						})
				}
			}
		});
		</script>
</html>