<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>学问讨论区</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
		<link rel="stylesheet" href="css/qian.css">
		<link rel="stylesheet" href="css/element-ui.css">
		<script src="js/Vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/element-ui.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js"></script>
	</head>

	<body id="auto-id-1544855700305" class="auto-1544855700346-parent">
		<div id="g-body">
			<div class="p-forumIntro g-flow-wide" style="background: url('img/xwen.jpg?imageView&amp;thumbnail=1260y240&amp;quality=100') no-repeat;background-size: 100% 100%;">
				<div class="cnt f-f0 f-cb">
					<div class="intro f-fl">
						<a href="qian_barpost.html" class="clickArea f-ib"></a>
					</div>
				</div>
			</div>
			<div id="j-content" class="g-flow g-flow-1">
				<div id="j-forum">
					<div class="forum-wrapper f-pr" href="qian_user.html">
						<div class="forumCnt f-cb">
							<div class="tabs f-f0 f-cb">
								<div class="m-tabs" id="barCategorys">
									<ul class="tabs_hd">
										<li class="z-crt" @clike="aa()">全部</li>
										<li v-for="tab in barCategory" @clike="aa()">
											{{tab.barCategory}}
											<!--
                                            	作者：offline
                                            	时间：2018-12-27
                                            	描述：<span v-text="l">{{barCategory}}</span>
                                            -->
										</li>
									</ul>
								</div>
							</div>
							<div class="lineWrap f-cb">
								<div class="sort f-fl f-f0"><span class="timeSort active">时间排序</span></div>
								<div class="postNew f-fr f-f0">
									<a class="u-btn-gh" href="qian_fabiao.html"><span class="plus">+</span> 发表主题</a>
								</div>
								<!--
                                	作者：offline
                                	时间：2018-12-27
                                	描述：:data="listPost.slice((currentPage-1)*pagesize,currentPage*pagesize)"
                                -->
							</div>
							<div class="forumList f-f0" href="qian_postinfo.html">
								<div class="forum-module-content j-panels u-forumlist-wrapper" id="postWang" data="listPost.slice((currentPage-1)*pagesize,currentPage*pagesize)">
									<ul class="u-forumlist ">
										<li class="forum-item f-f0" v-for="tab in listPost" @clike="post()">
											<div class="face">
												<a href="qian_user.html" target="_blank">
													<img src="img/txiang.png">{{tab.userTouurl}}</a>
											</div>
											<div class="forum-item-info-mobile">
												<a class="name f-fcgreen">{{tab.postName}}</a>
												<span class="time">{{tab.postCreatetime}}</span>
											</div>
											<div class="itemWrap">
												<div class="title">
													<a class="f-fcgreen forum-item-title" target="_blank" href="qian_postinfo.html?sortType=1&amp;pageIndex=1">
														{{tab.postTitle}}
													</a>
													<!--
                                                    	作者：offline
                                                    	时间：2018-12-27
                                                    	描述：<span class="reply-top-btn f-f0">置顶</span>
                                                    -->
												</div>
												<div class="cnt ">
													{{tab.postContent}}
												</div>
												<div class="forum-item-info">
													<a class="name f-fcgreen" href="qian_user.html" target="_blank">{{tab.postName}}</a>
													<span class="time">发表于{{tab.postCreatetime}}</span>
												</div>
												<div class="forum-item-func">
													<span class="browsenum u-icon-vote">&nbsp;{{tab.postLikeNum}}</span>
													<span class="replynum u-icon-reply">&nbsp;{{tab.postCommitNume}}</span>
												</div>
											</div>
										</li>
										<div id="page">
											<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-size="pagesize" background layout="prev, pager, next" :total="total">
											</el-pagination>
										</div>
									</ul>

								</div>
								<!--<div id="j-pager" class="main-pager">
									<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" background layout="prev, pager, next" :total="listPost.length">
									</el-pagination>
								</div>-->

							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</body>
	<script type="text/javascript">
		new Vue({
			el: '#g-body',
			data: {
				barCategory: [

				],
				listPost: [

				],
				currentPage: 1,
				pagesize: 9,
				total: 20
			},
			mounted: function() {
				this.getBarName();
				this.getPost();
			},
			methods: {
				getBarName() {
					const vm = this;
					//发送Ajax请求axios.get|post(url,param).then(回调).catch(异常);
					axios({
							method: "get",
							url: "http://localhost:3011/wangmengxia/WangMengXia/bar/selectAllBar"
						})
						.then(function(res) {
							vm.barCategory = res.data;
						})
				},
				getPost() {
					const vm = this;
					//发送Ajax请求axios.get|post(url,param).then(回调).catch(异常);
					axios({
							method: 'get',
							url: 'http://localhost:3011/wangmengxia/WangMengXia/post/findByPostReport',
							params: {
								//courseId:1,
								page: 1,
								size: 10

							}
						})
						.then(function(res) {
							vm.listPost = res.data.rows;
							vm.total = res.data.total;
							//window.location.reload();

						})
				},
				//分页方法
				handleSizeChange: function(size) {
					var vm = this;
					vm.pagesize = size;

					console.log(pagesize);
				},
				handleCurrentChange: function(page) {
					var vm = this;
					vm.currentPage = page;

					//发送Ajax请求axios.get|post(url,param).then(回调).catch(异常);						
					axios({
							method: 'get',
							url: 'http://localhost:3011/wangmengxia/WangMengXia/post/findByPostReport',
							params: {
								//courseId:1,
								page: vm.currentPage,
								size: 10

							}
						})
						.then(function(res) {
							vm.listPost = res.data.rows;
							vm.total = res.data.total;
							//window.location.reload();

						})
						.catch(function(error) {

							vm.msg = `请求服务器失败`;
						});

					console.log(vm.currentPage);
				}

			}
		});
	</script>

</html>